.our-services {
    text-align: center;
}

.our-services h2 {
    font-family: "Poppins-Bold";
    font-size: 36px;
}

.our-services p {
    padding: 20px 60px;
    font-size: 16px;
    line-height: 20px;
}

/* picture {
    display: inline-flex;
} */

.box img {
    width: 150px;
}

.service-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box {
    color: #fff;
    max-width: 100%;
    width: 300px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 450px;
    padding: 23px;
    text-align: center;
    margin-bottom: 20px;
}

.box-1 {
    background-color: #2b6777;
}

.box-2 {
    background-color: #c8d8e4;
}

.box-3 {
    background-color: #52ab98;
}

.box-4 {
    background-color: #2b6777;
}

.box-5 {
    background-color: #c8d8e4;
}

.box-6 {
    background-color: #52ab98;
}

.box-7 {
    background-color: #2b6777;
}

.service-cards .slick-slide {
    margin-right: 24px;
}

.service-head {
    margin-top: 30px;
    margin-bottom: auto;
}

.service-head h3 {
    font-size: 28px;
    line-height: 33px;
}

.service-info {
    margin-bottom: 40px;
}

.service-info p {
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media screen and (max-width : 768px) {
    .our-services h2 {
        font-size: 28px;
    }

    .our-services p {
        font-size: 14px;
        padding: 12px 5px;
    }

    .box img {
        width: 90px;
    }

    .box {
        min-height: 345px;
        width: 270px;
        }

    .service-head h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .service-info p {
        font-size: 14px;
    }

    .service-cards .slick-slide {
        margin-right: unset;
    }
}