.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-head {
    font-family: "Poppins-Bold";
    font-size: 36px;
    color: #333333;
}

.home-link {
    font-family: "Poppins-SemiBold";
    font-size: 14px;
    font-weight: 600;
    color: #f5822d;
    text-transform: uppercase;
}

.news-sect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.news-col {
    max-width: 376px;
}

.col-img {
    background-color: blue;
    width: 100%;
    max-height: 212px;
    min-height: 212px;
}

.col-date {
    font-family: "Poppins-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #8c8c8c;
    margin: 20px 0;
    display: block;
}

.col-head {
    font-family: "Poppins-SemiBold";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.col-text {
    font-family: "Poppins-Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: normal;
    color: #8c8c8c;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news-col .read-btn {
    font-family: "Poppins-SemiBold";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    color: #2b6777;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.view-more-less{
    text-align: center;
}

.view-more-less a{
    font-family: "Poppins-SemiBold";
    font-size: 16px;
    color: #2b6777;
    font-weight: 600;
    padding: 10px 20px;
    width: 100%;
    border: solid 2px #2b6777;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    background: #f2f2f2;
    cursor: pointer;
}


@media only screen and (min-width: 320px) and (max-width: 767.69px) {
    /* .newswrapper {
      margin-top: 397px;
    } */

    .heading {
        flex-direction: column;
    }

    .slick-slide {
        margin: 0px 5px;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .slick-slide {
        transition: all ease-in-out 0.3s;
    }

    .slick-current {
        opacity: 1;
    }

    .news-container .heading h2,
    .monthly-news-container .monthly-heading h2 {
        font-size: 24px;
        line-height: 32px;
        color: #252525;
        margin-bottom: 10px;
    }

    .news-sect {
        display: block;
        position: relative;
        margin-right: -24px;
        margin-top: 30px;
    }

    .news-col {
        max-width: 100%;
        margin-bottom: 21px;
    }

    .col-img {
        min-height: 176px;
        max-height: 176px;
    }

    .col-date {
        margin: 10px 0;
        font-size: 10px;
    }

    .col-head {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .col-text {
        font-size: 14px;
    }

    .news-col .read-btn {
        font-size: 12px;
        margin-top: 20px;
    }

    .monthly-news-sect {
        display: block;
    }
}